<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/themes.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/readable.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/logo.css">

    {% if page.taxonomies.writings %}
    {% for tag in page.taxonomies.writings %}
      <link rel="stylesheet" type="text/css" href="/assets/css/genre/{{tag}}.css" />
    {% endfor %}
    {% endif %}

    {% if page.taxonomies.writings %}
    {% for tag in page.taxonomies.writings %}
    <meta property="og:type" content="{{tag}}" />
    {% endfor %}
    {% endif %}

    {% if page.taxonomies.syndicate %}
    {% for tag in page.taxonomies.syndicate %}
    <meta property="og:type" content="{{tag}}" />
    {% endfor %}
    {% endif %}

    <meta property="og:site_name" content="ArtemChandragupta.github.io" />
    <meta property="og:image" content="https://artemchandragupta.github.io/logo/logo-small.png" />
    {% if page.title %}
    <title>{{ page.title }}</title>
    <meta name="og:title" content="{{ page.title }}" />
    {% elif section.title %}
    <title>{{ section.title }}</title>
    <meta name="og:title" content="{{ section.title }}" />
    {% endif %}
    {%if section.description %}
    <meta name="description" content="{{ section.description }}" />
    <meta name="og:description" content="{{ section.description }}" />
    {%endif%}
    {%if page.content %}
    <meta name="description" content="{{ page.content | striptags }}" />
    <meta name="og:description" content="{{ page.content | striptags }}" />
    {%endif%}

    <link rel="shortcut icon" type="image/x-icon" href="/logo/logo-small.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="rgb(253, 246, 227)">

    <!----------------    KaTex    ------------------>
  	{% if page.extra.katex %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              // customised options
              // • auto-render specific keys, e.g.:
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false},
                  {left: '\\(', right: '\\)', display: false},
                  {left: '\\[', right: '\\]', display: true}
              ],
              // • rendering keys, e.g.:
              throwOnError : false
            });
        });
    </script>
  	{% endif %}
    <!----------------   /KaTex    ------------------>

    <!---------------- Copy Button ------------------>
    <script defer="" src="/assets/js/copy-button.js"></script>
    <!--------------- /Copy Button ------------------>

</head>


<body onload="updateThemeSelector();">

  <!------------------LOGO------------------->
  <div class="logo-container">
    <a href="/">
      <div class="inner-logo-container"></div>
    </a>
  </div>

  <!------------------NAV------------------->
  <nav data-style="classy">
    {% block nav %}
    <span><a href="/">Main</a></span>
    <span><a href="/blog">Journal</a></span>
    <span><a href="/writings">Topics</a></span>
    <!-- <span><a href="/more">More</a></span> -->
    <span id="themeSelector"></span>
    {% endblock nav %}
  </nav>

  <!------------------BODY------------------>

  <section class="section-body">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script src="/assets/js/themeSelector.js" defer></script>
  </section>

  <!----------------FOOTER------------------>
    <footer>
      {% block footer %}
      <p><a href="https://github.com/ArtemChandragupta/ArtemChandragupta.github.io" target="_blank">Source Code</a> │ All articles are usable under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> </p>
      {% endblock footer %}
    </footer>

    <!-- <ol id="themeSelector" reversed></ol> -->
    <!-- <div id="themeSelector"></div> -->
    
</html>
